* {
  box-sizing: border-box;
}

:root {
  --Text-Color-dark: #0b090a;
  --text-color-2: #2b2b2b;
  --text-color-3: #808080;
  --primary-color: #3a0ca3;
  --secondary-color: #4361ee;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  padding: 0%;
}

a {
  text-decoration: none;
}

section {
  /* padding: 0 72px; */
}
